body {
    margin: 0px;
    padding: 0px;
}

.navul {
    list-style-type: none;
    position: fixed;
    top: 0px;
    margin: 0;
    background-color: black;
    width: 100%;
    height: 50px;
}

.navli {
    float: right;
    margin-right: 100px;
    margin-top: 20px;
}

.nava {
    color: rgb(233, 220, 220);
    text-align: center;
    text-decoration: none;
}

.nava:hover {
    opacity: 50%;
}

#logo {
    width: 200px;
}

#bionic {
    position: relative;
    width: 200px;
    top: -25px;
}

#content {
    text-align: center;
}

.heading{
margin:10px;
color:black;
}
.para{
    font-size: 20px;
    margin:10px 10px;
    color:black;
}

.list{
    list-style-type: lower-alpha;
}
.container{
    border:2px solid black;
    margin:20px 20px;
    border-radius: 25px;
    background-color: rgb(192, 192, 187);
}

.fcon{
    border : 2px solid black;
    background-color: rgb(115, 113, 117);
    
    /* display:flex; */
    /* justify-content: center; */
    text-align: center;
    height:140px;
}
#mail{
    text-decoration: none;
    cursor: pointer;
}
#fimg{
    width:120px;
   
    margin: 10px 10px;
    
}
.social{
    float:right;
    text-align: center;
    display: inline-block;
}
.ful{
    list-style-type: none;
    padding: 0px 0px;
}
.fli{
    display:inline-block;
    margin: 0px 10px;
   
}
.details{
    text-align: center;
    display: inline-block;
}
